{% extends 'photo/base.html' %} {% block title %}Home{% endblock %} {% block content %}
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    {% for carousel in photosCarousel %}
    <div class="carousel-item active c-item">
      <img src="{{ carousel.image.url }}" class="d-block w-100 c-img" alt="Slide 1" height="650vh" />
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase p-margin">Selamat Datang di</p>
        <p class="display-1 fw-bolder text-capitalize">POVSHOTNBK_</p>
        <a href="/gallery"><button class="btn btn-primary px-4 py-2 fs-5 mt-5">Cek Disini</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="galleryid">
  <h1>Photo</h1>
  <div class="gallery" >
    
    {% for clipped in photosPigora %}
      <div class="clipped-border">
        <img src="{{ clipped.image.url }}" id="clipped" />
      </div>
    {% endfor %}  
      
      <div class="shadow"></div>
    
  </div>
</div>
  {% endblock %}
</div>
